/* Header*/

#photo-vl {
    width: 170px;
    height: 170px;
    border-radius: 90px;
    border: 2px solid white;
    display: flex;
    margin: auto;
    margin-top: 20px    
}

header {
    display: flex;
}

hr {
    margin: 10px;
}


.section-header1 {
    background-color: #003b95;
    width: 35%;
}

.section-header2 {
    width: 65%;
    margin-left: 1%;
}

/* Side-bar*/

.side-h2 {
    color: white;
    margin: 15px;
    font-weight: 900;
    font-size: 16px;
}
.section-1 {
    margin: 5px;
}

ul {color: rgb(216, 210, 210);
    list-style: none;
    font-size: 14px;
    margin-left: 5px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 10px;
}

.logo1 {
    width: 60px;
    height: 60px;
}

.pays {
    border: 2px solid #FCC419;
    border-radius: 90px;
}

.lien {
    color: white;
    text-decoration: none;
}

.lien:hover {
    text-decoration: underline;
}

/* Main*/

main {
    display: flex;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;    
    color: #323b4b;
    text-align: center;
}

h2 {
    color: #323b4b;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 25px;
}

.p1 {
    color: #767779;
    font-size: 16px;
    font-weight: 800;
}

p, .li1{
    color: #868686;
}

body {
    font-family:'Khand', sans-serif;
}

.article1 {
    display: flex;
    flex-direction: column;
    background-color: #003b95 ;
    width: 35%;
}

.section-1 {
    padding: 5px;
    color: white;
}

.article2 {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 1%;
    
}

.logo-main {
    width: 35px;
    height: 35px; 
    margin: 7px;   
}

/*  <section class="section-1">
             